body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f9;
    text-align:center;
}

/* Title */
h2{
    margin-top:20px;
    color:#333;
}

/* Control panel */
.controls{
    margin:20px;
}

/* Dropdown */
select{
    padding:8px 12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
    margin-right:10px;
}

/* Buttons */
button{
    padding:8px 16px;
    margin:5px;
    border:none;
    border-radius:6px;
    background:#3b82f6;
    color:white;
    font-size:14px;
    cursor:pointer;
    transition:0.2s ease;
}

button:hover{
    background:#2563eb;
    transform:scale(1.05);
}

/* Grid layout */
.grid{
    display:grid;
    grid-template-columns: repeat(15,45px);
    justify-content:center;
    gap:10px;
    margin-top:20px;
}

/* NODE CIRCLES */
.cell{
    width:35px;
    height:35px;
    border-radius:50%;
    border:2px solid #ccc;
    background:white;

    display:flex;
    align-items:center;
    justify-content:center;

    transition:0.2s;
}

/* Start Node */
.start{
    background:#22c55e;
    color:white;
    font-weight:bold;
    border:none;
}

/* End Node */
.end{
    background:#ef4444;
    color:white;
    font-weight:bold;
    border:none;
}

/* Wall Node */
.wall{
    background:#333;
    border:none;
}

/* Visited Nodes */
.visited{
    background:#60a5fa;
}

/* Final Path */
.path{
    background:#facc15;
}